<!DOCTYPE html>
<html lang="en">
<link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
<link href="../static/css/select.css" th:href="@{/css/select.css}" rel="stylesheet" />
<link href="../static/css/button.css" th:href="@{/css/button.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Редактировать заказ</title>
</head>
<body>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>

<h3 class="h3">Редактирование статуса заказа</h3>
<div th:each="order: ${order}">
    <br>
    <div class="box">
    <form th:method="POST" th:action="@{/admin/order/edit/{id}(id=${order.getId()})}" th:object="${order}"
          enctype="multipart/form-data">
        <select  th:field="*{status}">
            <option value="Принят">Принят</option>
            <option value="Оформлен">Оформлен</option>
            <option value="Ожидает">Ожидает</option>
            <option value="Получен">Получен</option>
        </select>
    </div>
        <br>
        <input type="submit" class="gradient-button5"  value="Редактировать">
    </form>
</div>
</body>
</html>