<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<h3>Список заказов</h3>
<a href="/admin">Назад в личный кабинет</a>
<form th:method="GET" th:action="@{/admin/order/number/end}">
    <p>Поиск по последним 4 символам</p>
    <input minlength="4" maxlength="4" th:type="text" name="endWith" id="endWith" th:value="*{value_end_with}">
    <input type="submit" value="Поиск">
</form>
<div th:each="order : ${orders}">
    <br>
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <p th:text="'Логин покупателя: ' + ${order.getPerson().getLogin()}"></p>
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Цена: ' + ${order.getPrice()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus()}"></p>
    <a th:href="@{/admin/order/edit/{id}(id=${order.getId()})}">Редактировать</a>
    <hr>
</div>
</body>
</html>